body {
  background-color: #f6f7f8;
}
a {
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 0px;
}
.fotterStyle {
  margin-top: 200px;
  background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
}
